DATABASE_URL=postgresql://user:password@localhost:5432/bombeiros_db
DEBUG=False
DATABASE_URL=postgresql://user:password@localhost:5432/bombeiros_db
TEST_DATABASE_URL=postgresql://user:password@localhost:5432/bombeiros_test
DEBUG=False